body {
  background-color: rgb(40, 39, 39);
}
.main {
  color: rgb(189, 180, 168);
  text-align: center;
}
.container {
  margin: 10rem;
  border: 1px solid;
  border-radius: 1rem;
  border-block-end-width: medium;
}
.title {
  text-align: center;
  font-size: x-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 200;
  font-style: italic;
}
.time {
  text-align: center;
  font-size: x-large;
}
